@import "reset";

@font-face {
	font-family: 'Miso';
	src: url("../fonts/miso-regular.ttf");
}

html, body {
	width:100%;
	overflow: hidden;
	position: fixed;
}

body {
	background:#FFF;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	display: flex;
	flex-direction: row;
	font-family: 'Miso';
	height: 100vh;
	font-size: 25px;
}

.fontLoader {
	visibility: hidden;
	width:0;
	height:0;
}

/*
@media only screen and (max-width: 1023px) {
	flex-direction: row;
}
*/

.menu-set {
	position:absolute;
	top:0;
	right:0;
	display:flex;
	flex-direction:row-reverse;
}

.tools-menu {
	display:flex;
	flex-direction:row-reverse;
	z-index:10;
	height:50px;
	margin-right:8px;
	margin-top:8px;
	padding-left:0px;
	padding-right:0px;
	background-color: rgba(0,0,0,0.35);
	-webkit-backdrop-filter: blur(50px);
	backdrop-filter: blur(50px);
	border-radius: 10px;

	&--colors2 {
		margin-right: 6px;
		margin-top: 6px;
	}
}

.tool {
	width:50px;
	height:50px;
	cursor:pointer;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&:first-child {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	&:last-child {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	&:hover, &--active {
		background-color: rgba(0,0,0,0.2);
	}

	.tools-menu--colors2 & {
		border-top:2px solid #FFF;
		border-bottom:2px solid #FFF;
		&:first-child {
			border-right:2px solid #FFF;
		}
		&:last-child {
			border-left:2px solid #FFF;
		}
	}

	&__label {
		display:block;
		font-size: 20px;
		margin-top:2px;
		cursor: pointer;
		text-transform: uppercase;
		line-height:18px;

		&--light {
			color:white;
		}

		&--dark {
			color:#111111;
		}
	}

	&__name {
		font-size: 12px;
		text-align: center;
	}
}

.tool--zoom-in {
	background-image: url("../images/ic_add_white_24px.svg");
}

.tool--zoom-out {
	background-image: url("../images/ic_remove_black_24px.svg");
}

.tool--erase {
	background-image: url("../images/ic_clear_black_24px.svg");
}

.tool--paint {
	background-image: url("../images/ic_create_black_24px.svg");
}

.tool--picker {
	background-image: url("../images/ic_colorize_black_24px.svg");
}

.tool--open-palette {
	background-image: url("../images/ic_palette_white_24px.svg");
}

.palette {
	position: absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	z-index: 20;
	background-color: rgba(255,255,255,0.85);
	-webkit-backdrop-filter: blur(50px);
	backdrop-filter: blur(50px);
	flex-direction: column;
	display:none;
	justify-content: flex-start;

	.show-palette & {
		display: block;
	}

	&__top {
		display:flex;
		flex-direction: row-reverse;
		flex-grow: 0;
		min-height: 50px;
		position: relative;
		z-index:10;
		background-color: rgba(255,255,255,0.35);
		-webkit-backdrop-filter: blur(50px);
		backdrop-filter: blur(50px);
	}

	&__content {
	 display: block;
	 flex-grow: 1;
	 overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		padding-top: 50px;
		position: absolute;
		z-index:0;
		left:0px;
		right:0px;
		top:0px;
		bottom:0px;
	}

	 &__close-button {
		 width:50px;
	 	height:50px;
	 	cursor:pointer;
	 	background-repeat: no-repeat;
	 	background-position: center;
		display: block;
		background-image: url("../images/ic_clear_black_24px.svg");
	 }

	&__section {
		width: 296px;
		margin: 0 auto;
		padding: 5px;

		@media only screen and (min-width: 370px) {width: 360px}
		@media only screen and (min-width: 454px) {width: 444px}
		@media only screen and (min-width: 528px) {width: 518px}
		@media only screen and (min-width: 602px) {width: 592px}
		@media only screen and (min-width: 676px) {width: 666px}
		@media only screen and (min-width: 750px) {width: 740px}
		@media only screen and (min-width: 824px) {width: 814px}
		@media only screen and (min-width: 898px) {width: 888px}
		@media only screen and (min-width: 974px) {width: 964px}
		@media only screen and (min-width: 1046px) {width: 1036px}
		@media only screen and (min-width: 1120px) {width: 1110px}
		@media only screen and (min-width: 1194px) {width: 1184px}
		@media only screen and (min-width: 1268px) {width: 1258px}
		@media only screen and (min-width: 1342px) {width: 1332px}
		@media only screen and (min-width: 1416px) {width: 1406px}
		@media only screen and (min-width: 1490px) {width: 1480px}

		flex-wrap: wrap;
		flex-direction: row;
		display:flex;
		justify-content: flex-start;
	}

	&__color {
		width: 56px;
		height: 56px;
		padding: 3px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin:5px;
		border-radius: 10px;
		flex-direction: column;
	}
}

.graphics-wrapper {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:0;
	cursor: pointer;
}

.canvas {
  width:100%;
  position: absolute;
  height:100%;
	font-family: 'Miso';
	cursor: pointer;
}
