@import "reset";

@font-face {
	font-family: 'Miso';
	src: url("../fonts/miso-regular.ttf");
}

body {
	background:#FFF;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	height: 100vh;
	display: flex;
	flex-direction: row;
	font-family: 'Miso';
	font-size: 25px;
}

.fontLoader {
	visibility: hidden;
	width:0;
	height:0;
}

.palette {
	display: block;
	border-right: 1px solid #ccc;
	padding-left: 12px;
	padding-top: 12px;
}

.color {
	padding-right: 12px;
	padding-bottom: 12px;

	&__example {
		width: 68px;
		height: 68px;
		display:block;
		background-color:gray;
		border-radius: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__label {
		display:block;
		width:68px;
		font-size: 18px;
		text-align: center;

		&--light {
			color:white;
		}
	}
}

.graphics-wrapper {
	flex:1;
}

.canvas {
  width:100%;
  position: absolute;
  height:100%;
	font-family: 'Miso';
	cursor: pointer;
}
