@import "reset";

@font-face {
	font-family: 'Miso';
	src: url("../fonts/miso-regular.ttf");
}

html, body {
	width:100%;
	overflow: hidden;
	position: fixed;
}

body {
	background:#FFF;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	display: flex;
	flex-direction: row;
	font-family: 'Miso';
	height: 100vh;
	font-size: 25px;
}

.fontLoader {
	visibility: hidden;
	width:0;
	height:0;
}

.main-menu {
	position:absolute;
	z-index:10;
	display: flex;
	padding-left: 6px;
	padding-top: 6px;
	background-color: rgba(255,255,255,0.2);
	-webkit-backdrop-filter: blur(50px);
	backdrop-filter: blur(50px);

	@media only screen and (max-width: 1023px) {
		border-bottom: 1px solid #ccc;
		width:100%;
		flex-direction: row;
	}

	@media only screen and (min-width: 1024px) {
		border-right: 1px solid #ccc;
		height:100%;
		flex-direction: column;
	}
}

.button {
	margin-right: 8px;
	margin-bottom: 8px;
	cursor: pointer;
	width: 66px;
	height: 66px;
	border-radius: 12px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;


	&--active, &--bordered {
		width: 64px;
		height: 64px;
		border: 1px solid gray;
	}

	&__label {
		display:block;
		width:68px;
		font-size: 18px;
		text-align: center;
		cursor: pointer;

		&--light {
			color:white;
		}
	}
}

.graphics-wrapper {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:0;
}

.canvas {
  width:100%;
  position: absolute;
  height:100%;
	font-family: 'Miso';
	cursor: pointer;
}
